/*import Top_header_color*/
@import '../partials/_base.sass'

#top-header
    background: $top-header-color
    text-align: center

#top-header > p
    display: inline
    margin: 0
    padding-left: 10px
    color: white



@media screen and (max-width: 560px)
    #top-header p
        display: block

